
#anchorPane {
    -fx-background-color: linear-gradient(to bottom, #bbcad2, #c9d5dc); /* Adjust colors as needed */
}
.button {
    -fx-background-color: linear-gradient(to bottom, #244946, #466460); /* Adjust colors as needed */
    -fx-border-color: #001618;
    -fx-text-fill: white;
    -fx-border-radius: 15px 15px 15px 15px;
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-border-insets: -1;
}

.button:hover{
    -fx-background-color: linear-gradient(to bottom, #244946, #6db4c9); /* Adjust colors as needed */
    -fx-background-radius: 15px 15px 15px 15px;
}
.BoxStyleClass {
    -fx-background-color: #1f211f;
}
.label {
    -fx-text-fill: white;
}
#lblInputDesc{
    -fx-text-fill: black;
}

.scroll-pane {
    -fx-background-color: linear-gradient(to bottom, #bbcad2, #c9d5dc);
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-border: none; /* Remove border properties */
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb
{
    -fx-background-color: linear-gradient(to bottom, #777777, #777777);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2em;
}

.scroll-bar .virtual-flow .scroll-bar .increment-button,
.scroll-bar .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.text-field{
    -fx-background-color: grey;
    -fx-text-fill: white;
}


