
#anchorPane {
    -fx-background-color: linear-gradient(to bottom, #6f787e, #60727c); /* Adjust colors as needed */
}
.buttonCU {
    -fx-background-color: linear-gradient(to bottom, #1cb7b7, #095ce7); /* Adjust colors as needed */
    -fx-border-color: #001618;
    -fx-text-fill: white;
    -fx-border-radius: 15px 15px 15px 15px;
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-border-insets: -1;
}
.button:hover{
    -fx-background-color: linear-gradient(to bottom, #00e2e2, #0259ea); /* Adjust colors as needed */
    -fx-background-radius: 15px 15px 15px 15px;
}

.combo-box{
    -fx-background-color: #23779d;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}
.combo-box:hover {
    -fx-background-color: linear-gradient(to bottom, #00e2e2, #0259ea);
}
.combo-box .list-view .list-cell:hover{
    -fx-background-color: linear-gradient(to bottom, #00e2e2, #0259ea);
}
.combo-box .list-cell {
    -fx-text-fill: white;
}
.combo-box .list-view .list-cell {
    -fx-text-fill: grey;
    -fx-background-color: #1a526c;
}
.context-menu{
    -fx-background-color: lightblue;
    -fx-text-fill: white;
    -fx-background-radius: 6 6 6 6, 5 5 5 5, 4 4 4 4;
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em;
}
.label{
    -fx-text-fill: white;
}
.menu-item:focused .label {
    -fx-text-fill: white;
}
.text-field{
    -fx-background-color: #23779d;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
}

.text-field:Invalid{
    -fx-border-color: #010c1e;
    -fx-border-width: 1px;
    -fx-effect: innershadow( three-pass-box, rgb(255,0,0), 2, 5, 0, 0);
    -fx-border-radius: 4px;
}

.text-field:Valid{
    -fx-border-color: #02bb02;
    -fx-border-width: 2px;
    -fx-effect: null;
    -fx-border-radius: 4px;
}


